{% extends "layout.html" %}



{% block content %}





<h2 style="color:skyblue "> About </h2>

<h3>



    My project is about the presidents of the United States,

    I worked on the project during school lessons and a lot at home.

    It was interesting to do the project because I learned more about the Flask page and how it works, I understood more about how to design a beautiful project

    With colors, pictures and more.

    I used Google and also w3schools which helped me find templates for tables, colors, titles, and secondary titles.

</h3>





{% endblock %}