{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<h1 style="color:skyblue "> Query Page </h1>
<h4> this page shows graphes about the datasets</h4>

<div class="row">
    <div class="col-md-2 converter-870">
        <p><span style="color: dodgerblue"><strong>Trump:</strong></span></p>

        <p style="color:skyblue">1/24/93 - 1/10/01</p>

        <p><span style="color: dodgerblue"><strong>Obama:</strong></span></p>

        <p style="color:skyblue">1/24/93 - 1/10/01</p>

        <p><span style="color: dodgerblue"><strong>Bush:</strong></span></p>

        <p style="color:skyblue">1/24/93 - 1/10/01</p>

        <p><strong><span style="color: dodgerblue">Clinton:</span></strong></p>

        <p style="color:skyblue">1/24/93 - 1/10/01</p>
    </div>
    <div class="col-md-2">
        <form method="post">
            {{ form1.csrf_token }}
            {{ wtf.form_field(form1.president)}}
            {{ wtf.form_field(form1.kind)}}
            <input class="btn btn-primary" type="submit" value="הצג">
        </form>
    </div>
    <div class="col-md-8">
        <img src={{ src_case_1 }} class="img-thumbnail" alt="not found" height={{height_case_1}} width={{ width_case_1}}>
    </div>
</div>



    {% endblock %}